CONVEX_SELF_HOSTED_URL=http://127.0.0.1:3210
# https://github.com/get-convex/convex-backend/blob/main/self-hosted/README.md
# "once convex is running locally run `docker compose exec backend ./generate_admin_key.sh` to generate the value of this env"
CONVEX_SELF_HOSTED_ADMIN_KEY='convex-self-hosted|01fd713cf379e970dc97d27fdbbc15208f4ab61e009267b7df41138c080e27395dd4420612'

VITE_CONVEX_SITE_URL=http://127.0.0.1:3211
VITE_CONVEX_URL=http://127.0.0.1:3210
